services:
  filebeat:
    image: docker.elastic.co/beats/filebeat:8.11.0
    container_name: filebeat_sender
    user: root # BẮT BUỘC: Phải chạy root mới đọc được log của người khác (syslog/kolla)
    volumes:
      # 1. Mount file config vào
      - ./filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
      # 2. Mount log Keycloak thật (/var/log/keycloak) vào đường dẫn ảo (/host_logs/keycloak)
      - /var/log/keycloak:/host_logs/keycloak:ro
      # 3. Mount log OpenStack thật (/var/log/kolla) vào đường dẫn ảo (/host_logs/kolla)
      - /var/log/kolla:/host_logs/kolla:ro
      # 4. Mount Docker socket nếu muốn hút log của container khác sau này
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # 5. Mount chứng chỉ CA
      - ./ca.crt:/usr/share/filebeat/certs/ca.crt:ro

    # Mạng: Dùng host mode hoặc bridge đều được, miễn ping thông máy ELK
    network_mode: "host"

    # Tự động sống lại nếu chết
    restart: always
